<!DOCTYPE html>

<html>

<head>
    <link rel="icon" href="/img/icon.png">
    <title>About</title>    
    <link rel="stylesheet" href = "/css/style.css"> 
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This page was created by Aadil Salam. It collects data from weatherstack.com and mapbox.com</p>
        <img class="portrait" src = "img/me.png">
    </div>
    {{>footer}}
</body>

</html>